code, pre {
  font-family: Menlo, monospace;
  font-size: 0.95em;
}

code {
  background-color: #F8F8F8;
  border: 1px solid #DDD;
  border-radius: 3px;
  padding: 1px 4px;
}

pre {
  background: #F8F8F8;
  padding: 1em;
  overflow: auto;
}

pre span {
  font-size: 0.95em;
}

pre code {
  color: #333333;
  border: 0;
  padding: 0;
}

.ruby .hljs-comment,
.ruby-comment  {
  color: #969896;
}

.ruby .hljs-constant,
.ruby .hljs-keyword,
.ruby .hljs-symbol,
.ruby .hljs-title,
.ruby .hljs-parent,
.ruby .hljs-inheritance,
.ruby-constant,
.ruby-keyword,
.ruby-operator {
  color: #a71d5d;
}

.ruby .hljs-string,
.ruby .hljs-number,
.ruby-string,
.ruby-value {
  color: #0091ea;
}
