html {
  font-family: "Roboto";
}

body {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 960px;
}

header {
  background: #2196F3;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  height: 64px;
  width: 100%;
  text-align: right;
}

.wrap {
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

header a {
  color: white;
  line-height: 64px;
  text-decoration: none;
}

.nav-home {
  float: left;
  font-size: 24px;
  letter-spacing: 2px;
}

.nav-github {
  font-size: 32px;
}

.content {
  padding-top: 20px;
}

.nav-docs {
  float: left;
  width: 21.875%;
}

.nav-docs-section {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 5px 0;
}

.nav-docs-section:first-child {
  padding-top: 0;
  border-top: 0;
}

.nav-docs ul {
  list-style: none;
  padding: 0;
}

.nav-docs ul a {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.nav-docs ul a:hover {
  color: #FF4081;
}

.nav-docs ul ul {
  padding-left: 20px;
}

.nav-docs-section h3 {
  font-size: 16px;
  font-weight: 500;
}

.inner-content {
  float: right;
  line-height: 24px;
  width: 67.7083%;
}

.inner-content h1 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 34px;
  font-weight: 400;
}

.inner-content h2 {
  border-bottom: 1px solid #eee;
  font-size: 26px;
  font-weight: 400;
  margin-top: 1.5em;
  line-height: 1.225;
  padding-bottom: 0.3em;
}

.inner-content h3 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
  font-weight: 500;
}

.inner-content a {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  text-decoration: none;
}

.inner-content a:hover {
  color: #FF4081;
  text-decoration: underline;
}

.inner-content blockquote {
  border-left: 4px solid #DDD;
  color: #777;
  margin: 0;
  padding: 0px 15px;
}

.inner-content table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
  width: 100%;
}

.inner-content table th,
.inner-content table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

.inner-content table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.inner-content table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
